/**
 * CONTENTS
 *
 * GLOBAL
 * Config...............Configuration variables.
 * Mixins...............Useful mixins.
 * Colors...............Color variables.
 * Typography...........Typography-related variables.
 * Breakpoints..........Breakpoint values.
 *
 * GENERIC
 * Box-sizing...........Adjust default box-sizing.
 *
 * BASE
 * Document.............Base document (HTML) style
 * Body.................Base body style.
 * Headings.............H1-H6 base styles.
 *
 * OBJECTS
 * Layout...............Classes used for general layout throughout the site.
 *
 * MISC
 * Text.................Various text styles.
 * List.................Various UL and OL styles.
 *
 * COMPONENTS
 * Buttons..............Button elements.
 * Page-content.........Main page content.
 */
 
 
 
/*------------------------------------*\
  #Config
\*------------------------------------*/
 
$browser-context: 16;



/*------------------------------------*\
  #Mixins
\*------------------------------------*/

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}



/*------------------------------------*\
  #Colors
\*------------------------------------*/

$polar: #F5FAFD;
$ebony-clay: #242F40;
$shuttle-gray: #5B6B82;
$shamrock: #3CCF8E;
$white: #FFF;
$catskill-white: #E4EDF2;
$texas-rose: #FFB34B;



/*------------------------------------*\
  #Typography
\*------------------------------------*/

$main-font: 'Montserrat', sans-serif;



/*------------------------------------*\
  #Breakpoints
\*------------------------------------*/

$bp-small: em(768);



/*------------------------------------*\
  #Box-sizing
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #Document
\*------------------------------------*/

html {
  font-size: 20px;
}



/*------------------------------------*\
  #Body
\*------------------------------------*/

body {
  font-family: $main-font;
  font-size: rem(9.3);
  color: $shuttle-gray;
  background-color: $polar;
  text-align: center;
}



/*------------------------------------*\
  #Headings
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}



/*------------------------------------*\
  #Layout
\*------------------------------------*/

.box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

  .box__item {
    width: rem(171.45);
    height: rem(253.4);
    background-color: $white;
    box-shadow: 0 rem(2) rem(18) rgba(0,0,0,0.1);
    text-align: center;
    padding-top: rem(39.52);
    
    @media (max-width: $bp-small) {
      padding-top: 0;
      margin-top: rem(10);
      padding-bottom: rem(10);
      height: auto;
    }
  }

  .box__item--special {
    align-self: start;
    height: rem(288.27);
    border: rem(1.16) solid $shamrock;
    box-shadow: 0 rem(6) rem(35) rgba(0,0,0,0.2);
    
    @media (max-width: $bp-small) {
      align-self: center;
      height: auto;
    }
  }

  .box__header {
    color: $ebony-clay;
    font-size: rem(8.14);
    margin-bottom: rem(8.6);
  }



/*------------------------------------*\
  #Text
\*------------------------------------*/

.main-heading {
  color: $ebony-clay;
  font-size: rem(20.92);
  margin-top:     rem(30.81);
  margin-bottom:  rem(13.95);
  
  @media (max-width: $bp-small) {
    margin-top: 0;
  }
}

.txt-intro {
  width: rem(331.28);
  max-width: 80%;
  margin: auto;
}

.txt-recommended {
  display: inline-block;
  background-color: $texas-rose;
  border-radius: rem(1.74);
  text-transform: uppercase;
  color: $white;
  font-size: rem(6.97);
  padding: rem(2.5) rem(5.13);
  margin-bottom: rem(18.6);
}

.txt-price {
  color: $ebony-clay;
  font-size: rem(34.87);

  &:before {
    font-size: rem(15.11);
    content: "$";
  }
  
  &:after {
    font-size: rem(9.3);
    color: $shuttle-gray;
  }
  
  &--monthly:after {
    content: "/mo"
  }
  
  &--annually:after {
    content: "/yr"
  }
}



/*------------------------------------*\
  #List
\*------------------------------------*/

.list-check {
  display: inline-block;
  text-align: left;
  padding: 0;
  list-style: url("../img/check-mark-button.svg") inside;
}



/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn-group {
  font-size: 0;
  margin-top:     rem(23.85);
  margin-bottom:  rem(34.87);
  
  @media (max-width: $bp-small) {
      margin-bottom: 0;
      
      .btn {
        display: block;
        margin: auto;
        width: rem(170);
      }
    }
}

.btn {
  display: inline-block;
  border: 0;
  background-color: $catskill-white;
  width: rem(116.24);
  height: rem(34.87);
  line-height: rem(34.87);
  border-radius: rem(2.32);
  color: $shuttle-gray;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(8.14);
}

.btn--sign-up {
  border: rem(0.58) solid $shuttle-gray;
  width: rem(99.38);
  height: rem(27.9);
  line-height: rem(27.9);
  background-color: $white;
  width: rem(99.38);
  height: rem(27.9);
  margin-top: rem(24.99);
}

.btn--active {
  border: 0;
  background-color: $shamrock;
  color: $white;
}



/*------------------------------------*\
  #Page-content
\*------------------------------------*/

.page-content {
  display: inline-block;
  margin: rem(30) 0;
  max-width: 100%;
  
  @media (max-width: $bp-small) {
    margin: 0;
    width: 100%;
  }
}